{% extends "base.html" %}

{% block content %}
<div class="row">

        
        <div class="card mt-4">
            <div class="card-body text-center">
                <h4 class="card-title">Direct Contact</h4>
                <p class="card-text">
                    <i class="bi bi-envelope-fill"></i> Jhanavarshanv@gmail.com<br>
                    <i class="bi bi-phone-fill"></i> +91 9361599438
                </p>
                <div class="social-links mt-3">
                    <a href="https://linkedin.com/in/jhanavarshan-v-969352276/" class="btn btn-outline-primary me-2">
                        <i class="bi bi-linkedin"></i> LinkedIn
                    </a>
                    <a href="https://github.com/jhanavarshan" class="btn btn-outline-primary me-2">
                        <i class="bi bi-github"></i> GitHub
                    </a>
                    <a href="https://www.youtube.com/@TheAura04" class="btn btn-outline-primary">
                        <i class="bi bi-youtube"></i> YouTube
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}